<!DOCTYPE html>
<html>
    <head>
        <title>Bye bye!!!!  ^_^</title>
    </head>
    <body>
        <h1>Goodbye!</h1>
        <% name = "Joe" %>

        <p><%= "Goodbye #{name}" %></p>
    </body>
</html>